body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Тёмно-серый цвет для остального текста */
    text-align: center;
    background-color: #D9D9D9;
}

header {
    background-color: #194783; 
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 40px;  
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px; 
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.login-button {
    background-color: white;
    color: #194783;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
/*второй блок*/
.world-class {
    background-color: #333; 
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.world-class-title {
    font-size: 48px;
    margin-bottom: 30px;
}

.world-class-description {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px; 
    margin: 0 auto;
}

.world-class-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.phone-button {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 18px;
}

.signup-button {
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 18px;
}

/*команда */

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px;
}

.team-member {
    width: 250px; 
    margin: 20px;
    background-color: #fff; 
    border-radius: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: center;
    overflow: hidden; 
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0; 
    display: block; 
    object-fit: cover; 
    aspect-ratio: 1/1; 

}

.team-member p {
    margin: 10px;
    font-weight: bold;
}

footer {
    background-color: #0E559A; 
    color: #fff;
    padding: 30px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    width: 250px; 
    margin-bottom: 20px;
}

.footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-column p {
    margin-bottom: 5px;
}

.footer-column form {
    display: flex;
    align-items: center;
}

.footer-column input[type="email"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    width: 150px;
    font-size: 14px;
}

.footer-column button[type="submit"] {
    padding: 8px 12px;
    background-color: #fff;
    color: #0E559A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
/*Адаптивность*/
@media (max-width: 768px) {
    .course {
        width: 90%;
        min-width: auto;
    }
}